{% extends "base.html" %}

{% block content %}
{% comment %}
  This form is not a subclass of MultipleForm, thus we must
  provide our own form_name input
{% endcomment %}
<form method="post">
	{% csrf_token %}
	{{ forms.better_name }}
	<input type="hidden" name="{{forms.better_name.prefix}}">
	<input type="submit" value="Subscribe">
</form>

<form method="post">
	{% csrf_token %}
    {{ forms.contactform }}
    <input type="submit" value="Send">
</form>

<form method="post">
	{% comment %}
	  Provide your own form_name input if using a formset
	{% endcomment %}
	{% csrf_token %}
	{% for form in forms.my_formset %}
		{{ form }}
	{% endfor %}
	<input type="hidden" name="form_name" value="{{forms.my_formset.prefix}}">
	{% comment %}
		Note: If using a prefix other than the default given one:
	<input type="hidden" name="form_name" value="my_formset">
	{% endcomment %}
	<input type="submit" value="Send">
</form>
{% endblock content %}
