{% extends "base.html" %}

{% block content %}
<form method="post">
	{% csrf_token %}
    {{ forms.contactform }}
    <input type="submit" value="Send">
</form>

<form method="post">
	{% comment %}
	  Note: 
	{% endcomment %}
	{% csrf_token %}
	{{ forms.cartupdateform }}
	{{ forms.usercartform }}
	<input type="hidden" name="form_name" value="name_i_gave_in_template">
	<input type="submit" value="Send">
</form>

<form method="post">
	{% csrf_token %}
	{{ forms.cartupdateform2 }}
	<input type="submit" value="Send">
</form>

<form method="post">
	{% csrf_token %}
	{{ forms.usercartform2 }}
	<input type="submit" value="Send">
</form>
