{% extends "base.html" %}

{% block content %}
{% comment %}
  This form is not a subclass of MultipleForm, thus we must
  provide our own form_name input
{% endcomment %}
<form method="post">
	{% csrf_token %}
	{{ forms.better_name }}
	<input type="submit" value="Subscribe">
</form>

<form method="post">
	{% csrf_token %}
    {{ forms.contactform }}
    <input type="submit" value="Send">
</form>

<form method="post">
	{% csrf_token %}
	{% for form in forms.my_formset %}
		{{ form }}
	{% endfor %}
	<input type="submit" value="Send">
</form>
{% endblock content %}
